.env
.env.local
.env.*.local
.index_cache/
.venv/
.venv-openai/
.venv312/
.rag_index_cache/
api key.txt
.__pycache__/
**/.DS_Store
ollama.env
.venv-api/
/Backend/API/__pycache__
.DS_Store
/Backend/.DS_Store
.pycache/
.cursor
/web/.next
*.tsbuildinfo